*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    height: 4.5rem;
    /* background-color:#4e54c8; */
    background-color: #8222f8;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.grid-item2{
    display: flex;
    justify-content: center;
}

.landing-image{
    width: 33rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    animation: anim 1s ease-in 1;
}

@keyframes anim {
    0% {
        margin-right: -73rem;
    }

    100%{
        margin-right: 0rem;
    }
    /* 60%{
        margin-right: 0rem;
    }
    70%{
        margin-right: 5rem;
    }
   
    80%{
        margin-right: 0rem;
    }

    90%{
        margin-right: 5rem;
    }
    
    100% {
        margin-right: 0rem;
    } */
}


.grid-item1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 38rem;
    margin-left: 5rem;
    row-gap: 3rem;
}

.grid-item1>h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.1rem;
    margin-top: -2rem;
}

.landing-btn{
    width: 10rem;
    height: 3.2rem;
    background-color: #8222f8;
    border: none;
    border-radius: .25rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    z-index: 99;
}

.landing-link{
    color: white;
}


.landing-btn:hover{
    cursor: pointer;
}


.logo-img{
    height: 6rem;
    margin-left: 3rem;
    margin-top: -.2rem;   
}

/* .logo2{
    margin-left: -14rem;
    margin-top: -7rem;
    margin-bottom: -5rem;
    height: 20rem;
} */

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,600 C 0,600 0,300 0,300 C 90.22966507177034,343.98086124401914 180.45933014354068,387.9617224880382 279,376 C 377.5406698564593,364.0382775119618 484.3923444976077,296.13397129186603 591,265 C 697.6076555023923,233.86602870813394 803.9712918660287,239.50239234449762 892,239 C 980.0287081339713,238.49760765550238 1049.7224880382776,231.85645933014354 1138,241 C 1226.2775119617224,250.14354066985646 1333.1387559808613,275.07177033492826 1440,300 C 1440,300 1440,600 1440,600 Z");
    }

    25% {
        d: path("M 0,600 C 0,600 0,300 0,300 C 64.7846889952153,306 129.5693779904306,312 234,337 C 338.4306220095694,362 482.5071770334928,406 598,406 C 713.4928229665072,406 800.4019138755983,362 893,309 C 985.5980861244017,256 1083.8851674641148,194 1176,191 C 1268.1148325358852,188 1354.0574162679427,244 1440,300 C 1440,300 1440,600 1440,600 Z");
    }

    50% {
        d: path("M 0,600 C 0,600 0,300 0,300 C 109.20574162679424,239.74162679425837 218.41148325358847,179.48325358851676 329,187 C 439.5885167464115,194.51674641148324 551.5598086124403,269.80861244019144 627,288 C 702.4401913875597,306.19138755980856 741.3492822966507,267.2822966507177 829,288 C 916.6507177033493,308.7177033492823 1053.043062200957,389.06220095693783 1163,401 C 1272.956937799043,412.93779904306217 1356.4784688995214,356.46889952153106 1440,300 C 1440,300 1440,600 1440,600 Z");
    }

    75% {
        d: path("M 0,600 C 0,600 0,300 0,300 C 101.41626794258374,270.50717703349284 202.8325358851675,241.01435406698565 284,228 C 365.1674641148325,214.98564593301435 426.08612440191393,218.44976076555022 532,215 C 637.9138755980861,211.55023923444978 788.8229665071772,201.1866028708134 902,219 C 1015.1770334928228,236.8133971291866 1090.622009569378,282.80382775119614 1174,301 C 1257.377990430622,319.19617224880386 1348.688995215311,309.5980861244019 1440,300 C 1440,300 1440,600 1440,600 Z");
    }

    100% {
        d: path("M 0,600 C 0,600 0,300 0,300 C 90.22966507177034,343.98086124401914 180.45933014354068,387.9617224880382 279,376 C 377.5406698564593,364.0382775119618 484.3923444976077,296.13397129186603 591,265 C 697.6076555023923,233.86602870813394 803.9712918660287,239.50239234449762 892,239 C 980.0287081339713,238.49760765550238 1049.7224880382776,231.85645933014354 1138,241 C 1226.2775119617224,250.14354066985646 1333.1387559808613,275.07177033492826 1440,300 C 1440,300 1440,600 1440,600 Z");
    }
}

#svg{
    margin-top: -16rem;
    
}


